<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>testing</title>
</head>
<body>

    <h1>Forumalrz sluzacy do testowania</h1>
    <form method="get" action={% url 'mozaika' %}>
        <label> losowo:
            <input type="text" name="losowo"> </label><br>
        <label>rozdzielczosc:
            <input type="text" name="rozdzielczosc"></label><br>
        <label>url-e zdjec:
            <input type="text" name="zdjecia"></label>
        <button type="submit"> testowanie</button>

    </form>

</body>
</html>